*{
    margin: o;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: rgb(52, 51, 51);
    overflow-x: hidden;
}
main{
    text-align: center;
    /* border: 1px yellow solid;; */
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.masg-container{
    height: auto;
    width: 70%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.user-msg{
    background-color: rgb(157, 160, 163);
    border-radius: 10px;
    color: rgb(5, 5, 5);
    font-size: large;
    font-weight: bold;
    padding: 10px;
}
.bot-msg{
    background-color: rgb(157, 160, 163);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: large;
    font-weight: bold;
    padding: 20px;
}
.input-container{
    /* border: 1px solid yellow; */
    height: 70px;
    width: 70%;
    display: flex;
    text-align: center;
    justify-content: center;
   
}
.input-container>.user-input{
    height: 60px;
    width: 90%;
    border: none;
    border-radius: 10px;
    padding-left: 30px;
    font-size: large;
    margin-top: 5px;
    background-color: rgb(209, 192, 170);
}
.input-container>.btn{
    height: 60px;
    width: 10%;
    border: none;
    border-radius: 10px;
    font-size: large;
    margin-top: 5px;
    background-color: rgb(132, 206, 181);
}